[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
mypy = "*"
flake8 = "*"
autopep8 = "*"
pycodestyle = "*"
neovim = "*"
pynvim = "*"
ipython = "*"
jedi = "*"
isort = "*"

[packages]
keras = "*"
pandas = "*"

[requires]
python_version = "3.7"
