[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keras = "*"
pycodestyle = "*"
autopep8 = "*"
flake8 = "*"
mypy = "*"
pandas = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
